doctype html
html
  head
    title Hello World
    link(href='css/mailer.css' rel='stylesheet')

  body(ng-app='MailerApp')

    .container
      h1 Hello Mailer
    .container-fluid(ng-view='')
    script(src='scripts/vendors.js')
    script(src='scripts/templates.js')
    script(src='scripts/mailer.js')