doctype html
html
  head
    title Hello World
    link(href='css/todo.css' rel='stylesheet')
  body(ng-app='TodoApp')
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#/') Todo example
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#/') Home
    .container(ng-view='')
    script(src='scripts/vendors.js')
    script(src='scripts/templates.js')
    script(src='scripts/todo.js')