@import "bootstrap"

body
  padding-top: 50px

.starter-template
  padding: 40px 15px
  text-align: center

.form-alert
  height: 30px
  padding: 6px 6px 0 6px
  color: red

.form-control.ng-dirty.ng-invalid {
  border: 1px solid red
}